@base: #f938ab;
@base-font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
@light-grey: #dfdfdf;
@dark-grey: #333;
@fp-green: #8cc63f;
@fp-grey: #3a3a3c;

/*************** mixins ****************/
.large-font {
  font-family: @base-font;
  line-height: 2em;
  font-size: 4em;
}

.medium-font {
  font-family: @base-font;
  line-height: 1em;
  font-size: 2em;
}

.small-font {
  font-family: @base-font;
  line-height: 1.5em;
  font-size: 1.5em;
}

.link-font {
  font-family: @base-font;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 500;
}

/*************** top-level elements ****************/
[type='radio'] {
  visibility: hidden;
}

input:focus {
  outline: none;
}

h1 {
  font-family: @base-font;
  font-weight: 700;
}

h2 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: @base-font;
  font-weight: 700;
  letter-spacing: 1px;
  color: @fp-grey;
}

ul {
 list-style-type: none;
}

a {
  color: #777;
}

a:hover {
  color: @fp-green;
  text-decoration: none;
}

a:active, a:focus {
  color: @fp-green;
  text-decoration: none;
}

a, a:focus, a:active {
  outline: none;
}

/*************** classes ****************/
.completed-profile {
  .small-font;
  text-align: center;
}

.intro-body {
  .large-font;
  text-align: center;
  height: 1000px;
  padding: 0;
  display: table;
  width: 100%;
}

.question-button {
  .medium-font;
  text-align: center;
  background:#aaa;
  color:#fff;
  border-radius:8px;
  padding:1em;
  margin:1em;
  cursor:pointer;
  display: block;
}

.sharing-settings-button {
  text-align: left;
  font-size: 2.4em;
  background:#aaa;
  color:#fff;
  border-radius:8px;
  padding:1em;
  margin:1em;
  cursor:pointer;
}

.sharing-settings-button:hover {
  background: @fp-green;
}

.sharing-settings-button.checked {
  background: @fp-green;
}

.question-button:hover {
    background-color: @fp-green;
}

.centered {
  text-align: center;
}

.question-textbox {
  width: 90%;
  height: 100px;
  font-size: 24px;
  margin: 30px;
  border-radius: 25px;
}

.profile-view {
  width: 60%;
  margin: 6em auto;
}

.profile-panel {
  color: @fp-grey;
  height: 100%;
  margin-top: 20px;
}

.sharing-view {
  margin-top: 40px;
}

.answered-question {
  margin: 5px 0px;
  text-align: left;
  color: #dcdcdc;
  text-transform: uppercase;
  font-family: @base-font;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.3em;
}

.sharing-setting-description {
  font-weight: 500;
  margin: 10px;
  text-align: center;
  font-family: @base-font;
  font-size: 1.5em;
}

.sharing-setting-mouseover {
  margin: 1.5em;
  font-family: @base-font;
}

.fp-container {
  margin: 5.5em;
}

.content {
  margin: 4em auto;
  line-height: 1.5em;
}

.compensation-data-view {
  .medium-font;
  margin: 2em auto;
  width: 80%;
  text-align: center;
}

.signin-internal {
  margin: 2em;
}

.linkedin-explanation {
  font-size: 0.5em;
}

.progress-bar-container {
  margin: 2em;
}

.sharelinks-container {
  margin: 2em;
}

.progress {
  height: 2em;
}

.navbar-fixed-top {
  height: 70px;
  background: @light-grey;
}

.nav > li > a {
  .link-font;
  line-height: 40px;
  height: 70px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: @dark-grey;
}

.navbar-header > a {
  padding: 5px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #222;
    border-radius: 100%!important;
    font-size: 40px;
    color: #222;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #222;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.about-section {
  display: block;
  .small-font;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}